@font-face {
  font-family: "rejouice";
  src: url("./Fonts/Rejouice-Headline.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "rejouice";
}

body,
html {
  width: 100%;
  height: 100vh;
  background-color: black;
}

.loader{
  background-color: #000;
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .4s ease;
}
.loader h2 span{
  display: inline-block;
  color: #fff;
  font-weight: lighter;
}

#hero {
  width: 100%;
  height: 100vh;
  background-color: red;
}

#hero video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: absolute;
}

#content {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 300px;
  align-items: center;
  color: white;
}
nav {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  padding: 2vw 3vw;
 
}

nav h3 {
  font-size: 1.6vw;
  padding-top: 60px;
}

li {
  list-style: none;
  padding-top: 60px;
}



 h1 span {
  font-size: 24vw;
  text-transform: lowercase;
  font-weight: 100;
  line-height: 1;
  display: inline-block;
  margin-top: -10px;
  
}

#cursor {
  width: 7vw;
  height: 7vw;
  border-radius: 50%;
  position: fixed;
  z-index: 9;
  background-color: #ff5f38;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 1.2vw;
  transform: translate(-50%, -50%);
}

.page2{
  height: 100vh;
  width: 100vw;
  background-color:#faf8f3; 
}
.page2 .page2-top{
  height: 100px;
  width: 100vw;
  padding: .6vw 3vw;
  margin-top: 30px;
  display: flex;
  align-items: end;
  justify-content: space-between;
}
.page2 .page2-top h3{
  font-size: 1.7vw;
  font-weight: lighter;
  letter-spacing: -.5px;
  color: #141414;
}
.page2 .page2-top .first-text{
  overflow: hidden;
}
.page2 .page2-top-border{
  height: 1px;
  width: 0vw;
  margin: .6vw 3vw;
  background-color: rgb(71, 71, 71);
}
.page2 .page2-bottom{
  height: 415px;
  width: 100vw;
  overflow: hidden;
}
.page2 .page2-bottom .btm-text{
  padding: 2vw 3vw;
  overflow: hidden;
}
.page2 .page2-bottom .btm-text h2 .up {
  overflow: hidden;
}
.page2 .page2-bottom .btm-text h2 span{
  font-size: 4.45vw;
  font-weight: lighter;
  line-height: 1;
  letter-spacing: -1px;
  display: inline-block;
  overflow: hidden;
}




#agencyWork{
  min-height: 100vh;
  width: 100%;
  background-color:#faf8f3;
  position: relative;
  padding: 3vw;
}

#top{
text-align: center;

}

#top h4{
  margin-bottom: 1vw;
  font-size: 1vw;
  font-weight: 500;
}

#top h4 span{
  font-size: 0.7vw;
  background-color: black;
  color: white;
  padding: 4px 8px;
  border-radius: 10px;
}



#top .topText h2{
  
  transform: translateY(90%);
}

#top h2{
  
font-family:sans-serif;
cursor: pointer;
    font-size: 5vw;
    font-weight: lighter;
    line-height: 1;
    position: relative;
    display: inline-block;
    
}

#top h2::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  background-color: #000000;
  transition: transform .4s ease-out;
}

#top h2:hover::after{
  transform: scaleX(1);
  transform-origin: bottom left;
}

#cards{
  height: 75vh;
  width: 100%;
  
  display: flex;
  justify-content: space-between;
  margin-top: 8vw;
}

#cards .box{
  width: 32%;
  background-color: purple;
  height: 100%;
  position: relative;

}

#cards .box video{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

#cards .box img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  transition: all ease 1s;

}

#cards .box:hover img{
  opacity: 0;
}


.page4{
  width: 100%;
  height: 100vh;
   background-color:#faf8f3;;
}

.page4 .page4-top{
  height: 100px;
  width: 100vw;
  padding: .6vw 3vw;
  
  display: flex;
  align-items: end;
  justify-content: space-between;
}
.page4 .page4-top h3{
  font-size: 1.7vw;
  font-weight: lighter;
  letter-spacing: -.5px;
  color: #141414;
}
.page4 .page4-top .first-text{
  overflow: hidden;
}
.page4 .page4-top-border{
  height: 1px;
  width: 96%;
  margin: .6vw 3vw;
  background-color: rgb(71, 71, 71);
}
.page4 .page4-bottom{
  
  overflow: hidden;
}
.page4 .page4-bottom .btm-text{
  padding: 2vw 3vw;
  overflow: hidden;
}
.page4 .page4-bottom .btm-text h2 .up {
  overflow: hidden;
}
.page4 .page4-bottom .btm-text h2 span{
  font-size: 4vw;
  font-weight: lighter;
  line-height: 1;
  
  
  overflow: hidden;
}



